
@{
    ViewBag.Title = "Adicionar";
}
<div id="mensagem">

</div>

<div id="FrmAdicionar">

</div>
@section ChamadaAjax{
    <script>
        $(function () {
            EmprestimosAjax.MapaCadastrado();            
        });
    </script>
}