
@{
    ViewBag.Title = "Adicionar";
}
<div id="mensagem">

</div>

<h4>Adicionar empréstimo</h4>
<hr />

<div id="FrmAdicionar">

</div>

@section ChamadaAjax{
    <script>
        addCalendarioMascara(".datepicker", null);
        $(function () {
            EmprestimosAjax.MapaCadastrado();            
        });
    </script>

}