
@{
    ViewBag.Title = "Adicionar";
}

<div id="FrmAdicionar">

</div>
@section ChamadaAjax{
    <script>
        $(function () {
            EmprestimosAjax.MapaCadastrado();
        });
    </script>
}