
@{
    ViewBag.Title = "Devolucao";
}

<div id="FrmDevolucao">

</div>
@section ChamadaAjax{
    <script>
        $(function () {
            EmprestimosAjax.TemEmprestimo();
        });
    </script>
}