
@{
    ViewBag.Title = "Empréstimos pagina principal";
}
<div id="mensagem">

</div>
<div id="FormularioAdicionar">

</div>
@section ChamadaAjax{
    <script>
        $(function () {
            EmprestimosAjax.Adicionar();
        });
    </script>
}